# Conditional

In [5]:
if 1 < 2:
    print("yes")
    print("hello")
    
    print(1 + 2)

yes
hello
3

In [7]:
x = 0
y = 5

if y > x:
    print("yes")

yes

In [12]:
if "aul" in "grault":
    print('yes')

yes

In [16]:
if 'foo' in ['bar', 'bar', 'qux']:
    print('yes')
    print('executing')
    ...
    print('done')
print('after conditional')

after conditional

In [20]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')
    
print('After conditional')

After conditional

In [21]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('Outer condition is true')
    
    if 10 > 20:
        print('Inner condition 1')
        
    print('Between inner conditions')
        
    if 10 < 20:
        print('inner condition 2')
        
    print('End of outer condition')
print('After outer condition')

After outer condition

In [22]:
x = 20

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [26]:
x = 120

if x < 50:
    print('(first suite)')
    print('(x is small)')
else:
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [27]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")
else:
    print("uang tidak cukup")

uang tidak cukup

In [28]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")
elif uang > hargaMajalah:
    print("beli majalah")
else:
    print("uang tidak cukup")

uang tidak cukup

# One-Line if Statefments

In [29]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [31]:
if 'z' in 'foo': print('1'); print('2'); print('3')

In [32]:
x = 2

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')    
else: print('corge'); print('grault')

qux
quux

In [33]:
x = 3

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')    
else: print('corge'); print('grault')

corge
grault

# Conditional Expressions

In [34]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [39]:
raining = True
print("Let's go to the", 'beach' if not raining else 'libray')

Let's go to the libray

In [40]:
age = 12
s = 'teen' if age < 21 else 'adult'
s

'teen'

In [41]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

In [42]:
if a > b:
    m = a
else:
    m = b

NameError: name 'a' is not defined

# The Python pass Statement

In [44]:
if True:
    pass
print('foo')

foo

# Python "While" Loops

In [45]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [46]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

# Python Break & Continue Statements

In [47]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break # Break Statement
    print(n)    
print('loop ended.')

4
3
loop ended.

In [48]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)    
print('loop ended.')

4
3
1
0
loop ended.

# The Else Clause

In [53]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('loop done.')

4
3
2
1
0
loop done.

# Nested While Loops

In [54]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('loop done.')

4
3
2

In [55]:
age = 20
gender = 'M'

if age < 18:
    if gender == 'M':
        print("son")
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print("Father")
    else:
        print("mother")
else:
    if gender == 'M':
        print("grandfather")
    else:
        print("grandmother")

Father

In [56]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

# One - line while loops

In [57]:
n = 5

while n > 0: n-=1; print(n)

4
3
2
1
0

# Definite Interation

In [58]:
i = 1

for i = 1 to 10:
    i += 1
    print(i)

SyntaxError: invalid syntax (<ipython-input-58-ae65d7d22881>, line 3)

In [59]:
for (i = 1; i <=10; i++):
    print(i)

SyntaxError: invalid syntax (<ipython-input-59-6983760a2288>, line 1)

In [60]:
a = ['foo', 'bar', 'baz']

for i in a:
    print(i)

foo
bar
baz

In [61]:
d.values()

NameError: name 'd' is not defined

In [62]:
d.items()

NameError: name 'd' is not defined

In [63]:
for k,v in d.items():
    print(k, ":", v)

NameError: name 'd' is not defined

# range() function

In [64]:
for n in (0,1,2,3,4):
    print(n)

0
1
2
3
4

In [65]:
x = range(5)
x

range(0, 5)

In [ ]:
for n in x:
    print(n)

# Altering for loop behav

In [66]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if'b' in i:
        break
    print('i')

i

In [67]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('done')

foo
bar
baz
qux
done

# Example

In [68]:
temp = input("ketikan temperatur yang ingin dikonversi,eg. 45F, 120:
degree = int(temp[:-1])
i_convertion = temp(-1)
             
if i_convertion == "C":
             result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
             result = int(round(degree - 32) + 5 / 9))
else:
    print("Masukan input yang benar")
    
print("Temperaturnya adalah", result, "derajat")

SyntaxError: EOL while scanning string literal (<ipython-input-68-7636d2eac18f>, line 1)

In [69]:
while True:
    msg = input("ketikan karakter: ").lower()
    print(msg)
    
    if msg == "stop":
        break

ketikan karakter: stop
stop